/* GENERAL STYLING */
body {
  margin: 0px;
}

/* LANDING PAGE */
.waar-is-die-pas-container {

}
/* COUNTDOWN PAGE */

.countdown-page {
  min-height: 100vh;
  background-color:#ffb6e3;
  background:url("./bunq_background.png") center ;
  background-size: contain;
}
.fall-down {
  animation: fall 1 2.5s cubic-bezier(.76,.16,.89,.26) forwards;
  transform-origin: bottom;
}


.countdown-clock {
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 9vh;
  padding:2%;
  padding-top:30vh;
  color: white;
}

.clock-number-text {
  font-size: 3vw;
}
.countdown-clock > div {
  display: inline-block;

}
.countdown-clock .clock-number {
  min-width: 188px;
  min-height: 100px;
  width: 23%;
  background-color:rgba(0, 0, 0, .35);
  margin: 1%;
}

/* Donation button */
.donation-button-container {
  width: 100%;
  height:70px;
}
.donation-button-container a {
  text-decoration: none;
  color:white;
}
.link-button {
  text-align: center;
  display: block;
  align-content: center;
  width:100%;
 }

/* Sliding button */
.donation-button-container {
  margin-top: 200px;
  text-align: center;
}
.donation-button-link-container {
  text-align: center;
  display: inline-block;
  width: 200px;
  height: 70px;
}
.sliding-button {
  overflow:hidden;
  border: 1px solid rgb(55, 44, 56);
  background-color:#37A7C0;
  line-height: 70px;
}

.sliding-button-content {
  width: 200%;
  left:-200px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}

.sliding-button-content > div {
  height:100%;
  display:inline-block;
  width: 198px;
  text-align:center;
}

.sliding-button-content {
     position:relative;
     transition: all 0.4s ease-in-out;
    -webkit-transition: all .5s; /* Safari */
    transition: all .5s;
}
.sliding-button-content:hover {
    left: 0;

}

/* PasDag Component */
.PasDag-page {
  position: absolute;
  top:0;
  height: 100vh;
  width: 100vw;
  z-index: -1;
  /* ,#F1D744,#E7CA55 */
}

.shake-after-fall-down {
  animation: shake 0.5s;
  animation-delay: 2.5s;
  animation-iteration-count: 1;
}


/* BEER BACKGROUND */

.beer-background {
  width: 100%;
  height: 100%;
  background-color: #E7CA55;
}

.beer-foam {
  position: relative;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #F5F5F5;
}

.foam-bubble {
  position: absolute;
  top: 0;
  width: 10vh;
  background-color: #F5F5F5;
  border-radius: 50%;
}



@media (max-width: 600px) {
  .countdown-clock {
    padding-top: 10vh;
  }
  .donation-button-container {
    margin-top: 5vh;
    text-align: center;
}
 }

 /* KEYFRAME METHODS */
/* FALL ANIMATION */
@keyframes fall {
  0% {
    transform : rotatex(0deg) skewy(0deg);
  }
  100% {
        transform: rotatex(90deg) skewx(-20deg);
        display: none;
  }
}
 /* SHAKE ANIMATION */
@keyframes shake {
  0% { transform: translate(4px, 4px) rotate(0deg); }
  10% { transform: translate(-2px, -2px) rotate(-1deg); }
  20% { transform: translate(-4px, 0px) rotate(1deg); }
  30% { transform: translate(4px, 2px) rotate(0deg); }
  40% { transform: translate(2px, -2px) rotate(1deg); }
  50% { transform: translate(-2px, 2px) rotate(-1deg); }
  60% { transform: translate(-4px, 2px) rotate(0deg); }
  70% { transform: translate(4px, 2px) rotate(-1deg); }
  80% { transform: translate(-2px, -2px) rotate(1deg); }
  90% { transform: translate(4px, 4px) rotate(0deg); }
  100% { transform: translate(2px, -2px) rotate(-1deg); }
}