body {
  margin: 0px;
}
.countdown-clock-container {
  height: 100vh;
  background-color:#ffb6e3;
}
.countdown-clock {
  padding-top:30vh;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 9vw;
  padding:2%;
  color: white;
}
.clock-number-text {
  font-size: 3vw;
}
.countdown-clock > div {
  display: inline-block;

}
.countdown-clock > .clock-number {
  width: 23%;
  border-radius: 5px;
  background-color:rgba(0, 0, 0, .5);
}

.countdown-clock > .clock-colon {
  width: 2%;
}

